[alias]
  dif = diff
  dc = diff --cached
  fp = fetch -p
  pr = pull -r
  st = status
  ss = status -s
  co = checkout
  ci = commit
  amend = commit --amend
  wip = commit -m "WIPWIPWIPWIPWIPWIPWIPWIP"
  wipa = commit -am "WIPWIPWIPWIPWIPWIPWIPWIP"
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  l = log --graph --decorate --pretty=oneline --abbrev-commit
  la = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  ignored = ls-files -o -i --exclude-standard
  sub = submodule
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  lf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ltag = describe --tags --abbrev=0
  lt = git log --tags --simplify-by-decoration
  # OSX (on linux may need to use this syntax: showStashes() {}; showStashes)
  show-stashes = "!function showStashes { \
      git stash list | awk -F: '{ printf \"\\n\\n\\n==========\\n\"; print $0; print \"==========\\n\\n\"; system(\"git stash show -p \" $1); }';  \
  }; showStashes"
[core]
  pager = less -x4
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[rerere]
  enabled = true
[remote "origin"]
  prune = true
[user]
  email = mitochondrion@users.noreply.github.com
  name = mitochondrion
