[alias]
  st = status
  co = checkout
  ci = commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  l = log --graph --decorate --pretty=oneline --abbrev-commit
  la = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  ign = ls-files -o -i --exclude-standard

[core]
  pager = less -x4
[rerere]
  enabled = true
